/* 
.firstline{
    display: flex;
} */
.secondline{
    display: flex;
}

a
{
    text-decoration: none;
}
.product-card {
    width: 270px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px auto;
    background: #fafafa;
    
}

/* .badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
} */

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
    height: 120px;
}

.product-catagory {
    display: block;
    
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;

    
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: red;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}


.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 8px;
  
}

.product-bottom-details div {
    float: left;
    width: 50%;
   
}

.product-price {
    font-size: 18px;
    color: red;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: red;
}

.addedbutton{
    border-radius: 20px;
	border: 1px solid #F2eee3;
	background-color: #F2eee3;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 8px;
	letter-spacing: 0px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	border-color: red;
}